* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #01a7d7;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

header img,
.main_item img{
    width: 25px;
    margin-right: 5px;
}

.container {
    max-width: 1410px;
    display: block;
    margin: 0 auto;
    
    padding-right: 15px;
    padding-left: 15px;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo_item img {
    width: 70px;
}


.nav_item,
.nav_item a,
.main_item a {
    display: flex;
    align-items: center;
}

#header_title {
    font-weight: bold;
}

.main_list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#menu__toggle {
    opacity: 0;
  }
.menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 45px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
.menu__btn > span::before {
    content: '';
    top: -8px;
  }
.menu__btn > span::after {
    content: '';
    top: 8px;
  }

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 500px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover { 
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}
.menu__box {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}

.hamburger {
    height: auto;
}

.menu__box,
.menu__item,
.menu__btn {
    display: none;
}

.search_item input {
    padding: 4px;
}
